@import url("https://fonts.googleapis.com/css?family=Prompt:300,400,500,600");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
}

.gsapScroll {
  opacity: 0;
}

div[class*="gsapFadeIn"] {
  opacity: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

h1, h2, h3, h4 {
  color: #ff753f;
}

small {
  color: #aeaeae;
}

.active > .nav-link {
  color: #ff753f !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #ff753f !important;
}

/* Image */
#image {
  background-image: url(../img/banner-csr.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 520px;
  height: 100%;
}

#overlay {
  background-color: rgba(255, 109, 26, 0.6);
  height: 100%;
  overflow: hidden;
}

#heading_container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#heading_container h1 {
  text-align: center;
  font-size: 60px;
  text-shadow: 0 2px 14px rgba(0, 0, 0, 0.5);
  font-family: "Prompt", sans-serif;
  color: #ffffff;
}

.select {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  color: #cccccc;
  border: 1px solid #cccccc;
  vertical-align: middle;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

.select .placeholder {
  position: relative;
  display: block;
  background-color: #393d41;
  z-index: 1;
  padding: 1em;
  border-radius: 2px;
  cursor: pointer;
}

.select .placeholder:hover {
  background: #34383c;
}

.select .placeholder:after {
  position: absolute;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'FontAwesome';
  content: '\f078';
  z-index: 10;
}

.select.is-open .placeholder:after {
  content: '\f077';
}

.select.is-open ul {
  display: block;
}

.select.select--white .placeholder {
  background: #fff;
  color: #999;
}

.select.select--white .placeholder:hover {
  background: #fafafa;
}

.select ul {
  display: none;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
  z-index: 100;
  max-height: 120px;
}

.select ul li {
  display: block;
  text-align: left;
  padding: 0.8em 1em 0.8em 1em;
  color: #999;
  cursor: pointer;
}

.select ul li:hover {
  background: #ff753f;
  color: #fff;
}

.grid {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px 30px 15px;
}

.card-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  padding: 30px;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 250px;
  min-height: 300px;
  padding: 0;
  text-decoration: none;
  color: #aeaeae;
  -webkit-transition: -webkit-box-shadow 350ms;
  transition: -webkit-box-shadow 350ms;
  transition: box-shadow 350ms;
  transition: box-shadow 350ms, -webkit-box-shadow 350ms;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.06);
}

.card-news:hover, .card-news:focus {
  -webkit-box-shadow: 0 0 16px 0 rgba(0, 2, 0, 0.2);
          box-shadow: 0 0 16px 0 rgba(0, 2, 0, 0.2);
  outline: 0;
}

.card-news__img-wrapper {
  position: relative;
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.card-news__category {
  color: #ffffff;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 15px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  letter-spacing: .1pt;
}

.card-news__img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 160px;
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card-news:hover .card-news__img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.card-news__content {
  padding: 20px;
}

.card-news__title {
  font-size: 20px;
  line-height: 1.35;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-news__date {
  display: block;
  margin-bottom: 10px;
  opacity: 0.4;
  font-size: 14px;
}

.card-news__text {
  color: #555;
}

.card-news__link {
  display: block;
  padding: 15px 20px;
  color: #ff753f;
  font-weight: 600;
  letter-spacing: 0.1pt;
  border-top: 2px solid rgba(233, 233, 233, 0.4);
  -webkit-transition: color 350ms;
  transition: color 350ms;
}

.card-news:hover .card-news__link {
  color: #ffac8c;
}

.pagination {
  margin: 30px 0 50px 0;
}

.page-link {
  color: #ff753f;
}

.page-link:hover {
  color: #ff753f;
}

.page-item.active .page-link {
  background-color: #ff753f;
  border-color: #ff753f;
}

.footer {
  background-color: black;
  height: 90px;
}

.footer .social {
  margin: 15px 0 10px 0;
}

.footer .social img {
  padding: 0 8px;
}

.footer .copyright {
  color: #ffffff;
  font-family: "Prompt", sans-serif;
  font-size: 12px;
  text-align: center;
}
/*# sourceMappingURL=csr.css.map */