// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Prompt:300,400,500,600');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

// Font Variables
$prompt: 'Prompt', sans-serif;
$light: 300;
$med: 500;
$semi-bold: 600;

// Styles
body {
    font-family: $prompt;
    font-weight: 400;
}
