// reset.scss
@import 'colors';
body,html{
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
}
.gsapScroll {
  opacity: 0;
}
div[class*="gsapFadeIn"] {
  opacity: 0;
}  
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}
a:hover{
  text-decoration: none;
}
button:focus{
  outline: none;
}
h1,h2,h3,h4{
  color: $main-color;
}
small{
  color: $text-color;
}